SBA Loan is a program from US government to support small businesses by providing resources: loans and counselings.

The main goal of this project is to grow small busineess in USA and strenghten US's overall economy in the long term.

To apply loan aid to US SBA, the borrower (business) must provide required informations, such as: city, state, zip, and others.

In [ ]:
import polars as pl

# Data Loading & Cleaning

In [2]:
df = pl.read_csv("dataset/SBAnational.csv", ignore_errors=True)
_df = df.clone()
df

shape: (899_165, 27)
┌────────────┬────────────┬────────────┬───────┬───┬───────────┬───────────┬───────────┬───────────┐
│ LoanNr_Chk ┆ Name       ┆ City       ┆ State ┆ … ┆ MIS_Statu ┆ ChgOffPri ┆ GrAppv    ┆ SBA_Appv  │
│ Dgt        ┆ ---        ┆ ---        ┆ ---   ┆   ┆ s         ┆ nGr       ┆ ---       ┆ ---       │
│ ---        ┆ str        ┆ str        ┆ str   ┆   ┆ ---       ┆ ---       ┆ str       ┆ str       │
│ i64        ┆            ┆            ┆       ┆   ┆ str       ┆ str       ┆           ┆           │
╞════════════╪════════════╪════════════╪═══════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1000014003 ┆ ABC        ┆ EVANSVILLE ┆ IN    ┆ … ┆ P I F     ┆ $0.00     ┆ $60,000.0 ┆ $48,000.0 │
│            ┆ HOBBYCRAFT ┆            ┆       ┆   ┆           ┆           ┆ 0         ┆ 0         │
│ 1000024006 ┆ LANDMARK   ┆ NEW PARIS  ┆ IN    ┆ … ┆ P I F     ┆ $0.00     ┆ $40,000.0 ┆ $32,000.0 │
│            ┆ BAR &      ┆            ┆       ┆   ┆           ┆           ┆ 0         ┆ 0         │
│            ┆ GRILLE     ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│            ┆ (THE)      ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 1000034009 ┆ WHITLOCK   ┆ BLOOMINGTO ┆ IN    ┆ … ┆ P I F     ┆ $0.00     ┆ $287,000. ┆ $215,250. │
│            ┆ DDS, TODD  ┆ N          ┆       ┆   ┆           ┆           ┆ 00        ┆ 00        │
│            ┆ M.         ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 1000044001 ┆ BIG BUCKS  ┆ BROKEN     ┆ OK    ┆ … ┆ P I F     ┆ $0.00     ┆ $35,000.0 ┆ $28,000.0 │
│            ┆ PAWN &     ┆ ARROW      ┆       ┆   ┆           ┆           ┆ 0         ┆ 0         │
│            ┆ JEWELRY,   ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│            ┆ LLC        ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 1000054004 ┆ ANASTASIA  ┆ ORLANDO    ┆ FL    ┆ … ┆ P I F     ┆ $0.00     ┆ $229,000. ┆ $229,000. │
│            ┆ CONFECTION ┆            ┆       ┆   ┆           ┆           ┆ 00        ┆ 00        │
│            ┆ S, INC.    ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ …          ┆ …          ┆ …          ┆ …     ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 9995603000 ┆ FABRIC     ┆ COLUMBUS   ┆ OH    ┆ … ┆ P I F     ┆ $0.00     ┆ $85,000.0 ┆ $42,500.0 │
│            ┆ FARMS      ┆            ┆       ┆   ┆           ┆           ┆ 0         ┆ 0         │
│ 9995613003 ┆ RADCO MANU ┆ SANTA      ┆ CA    ┆ … ┆ P I F     ┆ $0.00     ┆ $300,000. ┆ $225,000. │
│            ┆ FACTURING  ┆ MARIA      ┆       ┆   ┆           ┆           ┆ 00        ┆ 00        │
│            ┆ CO.,INC.   ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 9995973006 ┆ MARUTAMA   ┆ HONOLULU   ┆ HI    ┆ … ┆ CHGOFF    ┆ $46,383.0 ┆ $75,000.0 ┆ $60,000.0 │
│            ┆ HAWAII,    ┆            ┆       ┆   ┆           ┆ 0         ┆ 0         ┆ 0         │
│            ┆ INC.       ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 9996003010 ┆ PACIFIC    ┆ KAILUA     ┆ HI    ┆ … ┆ P I F     ┆ $0.00     ┆ $30,000.0 ┆ $24,000.0 │
│            ┆ TRADEWINDS ┆            ┆       ┆   ┆           ┆           ┆ 0         ┆ 0         │
│            ┆ FAN &      ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│            ┆ LIGHT      ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ null       ┆ null       ┆ null       ┆ null  ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
└────────────┴────────────┴────────────┴───────┴───┴───────────┴───────────┴───────────┴───────────┘

## Handle Missing & Invalid Data

In [3]:
df.null_count()

shape: (1, 27)
┌───────────────┬──────┬──────┬───────┬───┬────────────┬──────────────┬────────┬──────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ MIS_Status ┆ ChgOffPrinGr ┆ GrAppv ┆ SBA_Appv │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---        ┆ ---          ┆ ---    ┆ ---      │
│ u32           ┆ u32  ┆ u32  ┆ u32   ┆   ┆ u32        ┆ u32          ┆ u32    ┆ u32      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════════╪══════════════╪════════╪══════════╡
│ 1             ┆ 4    ┆ 31   ┆ 15    ┆ … ┆ 1998       ┆ 1            ┆ 1      ┆ 1        │
└───────────────┴──────┴──────┴───────┴───┴────────────┴──────────────┴────────┴──────────┘

### LoanNr_ChkDgt

In [4]:
df.filter(
    pl.col("LoanNr_ChkDgt").is_null()
)

shape: (1, 27)
┌───────────────┬──────┬──────┬───────┬───┬────────────┬──────────────┬────────┬──────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ MIS_Status ┆ ChgOffPrinGr ┆ GrAppv ┆ SBA_Appv │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---        ┆ ---          ┆ ---    ┆ ---      │
│ i64           ┆ str  ┆ str  ┆ str   ┆   ┆ str        ┆ str          ┆ str    ┆ str      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════════╪══════════════╪════════╪══════════╡
│ null          ┆ null ┆ null ┆ null  ┆ … ┆ null       ┆ null         ┆ null   ┆ null     │
└───────────────┴──────┴──────┴───────┴───┴────────────┴──────────────┴────────┴──────────┘

- LoanNr_ChkDgt is the id of the row and shouldn't contain null value
- Apparently, the row contains null value across all columns. Thus, I will drop it

In [5]:
df = df.filter(pl.col("LoanNr_ChkDgt").is_not_null())
df.shape

(899164, 27)

In [6]:
df.n_unique(subset=["LoanNr_ChkDgt"])

899164

In [7]:
col_with_null_val = [k for k, v in df.null_count().to_dicts()[0].items() if v > 0]

In [8]:
display(df.null_count().select(col_with_null_val))
del col_with_null_val

shape: (1, 12)
┌──────┬──────┬───────┬──────┬───┬────────┬────────────┬──────────────────┬────────────┐
│ Name ┆ City ┆ State ┆ Bank ┆ … ┆ LowDoc ┆ ChgOffDate ┆ DisbursementDate ┆ MIS_Status │
│ ---  ┆ ---  ┆ ---   ┆ ---  ┆   ┆ ---    ┆ ---        ┆ ---              ┆ ---        │
│ u32  ┆ u32  ┆ u32   ┆ u32  ┆   ┆ u32    ┆ u32        ┆ u32              ┆ u32        │
╞══════╪══════╪═══════╪══════╪═══╪════════╪════════════╪══════════════════╪════════════╡
│ 3    ┆ 30   ┆ 14    ┆ 1559 ┆ … ┆ 2582   ┆ 736465     ┆ 2368             ┆ 1997       │
└──────┴──────┴───────┴──────┴───┴────────┴────────────┴──────────────────┴────────────┘

### Name

In [9]:
df.filter(pl.col("Name").is_null())

shape: (3, 27)
┌─────────────┬──────┬────────────┬───────┬───┬────────────┬─────────────┬────────────┬────────────┐
│ LoanNr_ChkD ┆ Name ┆ City       ┆ State ┆ … ┆ MIS_Status ┆ ChgOffPrinG ┆ GrAppv     ┆ SBA_Appv   │
│ gt          ┆ ---  ┆ ---        ┆ ---   ┆   ┆ ---        ┆ r           ┆ ---        ┆ ---        │
│ ---         ┆ str  ┆ str        ┆ str   ┆   ┆ str        ┆ ---         ┆ str        ┆ str        │
│ i64         ┆      ┆            ┆       ┆   ┆            ┆ str         ┆            ┆            │
╞═════════════╪══════╪════════════╪═══════╪═══╪════════════╪═════════════╪════════════╪════════════╡
│ 2392194003  ┆ null ┆ TROY       ┆ NY    ┆ … ┆ P I F      ┆ $0.00       ┆ $40,000.00 ┆ $32,000.00 │
│ 2392384001  ┆ null ┆ E. AMHERST ┆ NY    ┆ … ┆ P I F      ┆ $0.00       ┆ $28,000.00 ┆ $22,400.00 │
│ 2396634001  ┆ null ┆ CAMBRIDGE  ┆ MA    ┆ … ┆ P I F      ┆ $0.00       ┆ $30,000.00 ┆ $24,000.00 │
└─────────────┴──────┴────────────┴───────┴───┴────────────┴─────────────┴────────────┴────────────┘

- Column name should contains name of the business that applied for the loan

- It's hard to identify whether these missing values are MNAR or MAR because there are only 3 data points.
- Hece I will tag these rows with a new column

In [10]:
loan_ids_with_missing_name = df.filter(pl.col("Name").is_null())["LoanNr_ChkDgt"].to_list()
loan_ids_with_missing_name

[2392194003, 2392384001, 2396634001]

In [11]:
df = df.with_columns(
        pl.when(pl.col("Name").is_null())
        .then(True)
        .otherwise(None)
        .alias("needs_to_verify")
    ).with_columns(
        pl.when(pl.col("LoanNr_ChkDgt").is_in(loan_ids_with_missing_name))
        .then(["missing value on name"])
        .otherwise([])
        .alias("verify_reasons")
    )

display(df.filter(pl.col("verify_reasons").list.len().gt(0)))

del loan_ids_with_missing_name

shape: (3, 29)
┌─────────────┬──────┬────────────┬───────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ LoanNr_ChkD ┆ Name ┆ City       ┆ State ┆ … ┆ GrAppv      ┆ SBA_Appv   ┆ needs_to_v ┆ verify_rea │
│ gt          ┆ ---  ┆ ---        ┆ ---   ┆   ┆ ---         ┆ ---        ┆ erify      ┆ sons       │
│ ---         ┆ str  ┆ str        ┆ str   ┆   ┆ str         ┆ str        ┆ ---        ┆ ---        │
│ i64         ┆      ┆            ┆       ┆   ┆             ┆            ┆ bool       ┆ list[str]  │
╞═════════════╪══════╪════════════╪═══════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 2392194003  ┆ null ┆ TROY       ┆ NY    ┆ … ┆ $40,000.00  ┆ $32,000.00 ┆ true       ┆ ["missing  │
│             ┆      ┆            ┆       ┆   ┆             ┆            ┆            ┆ value on   │
│             ┆      ┆            ┆       ┆   ┆             ┆            ┆            ┆ name"]     │
│ 2392384001  ┆ null ┆ E. AMHERST ┆ NY    ┆ … ┆ $28,000.00  ┆ $22,400.00 ┆ true       ┆ ["missing  │
│             ┆      ┆            ┆       ┆   ┆             ┆            ┆            ┆ value on   │
│             ┆      ┆            ┆       ┆   ┆             ┆            ┆            ┆ name"]     │
│ 2396634001  ┆ null ┆ CAMBRIDGE  ┆ MA    ┆ … ┆ $30,000.00  ┆ $24,000.00 ┆ true       ┆ ["missing  │
│             ┆      ┆            ┆       ┆   ┆             ┆            ┆            ┆ value on   │
│             ┆      ┆            ┆       ┆   ┆             ┆            ┆            ┆ name"]     │
└─────────────┴──────┴────────────┴───────┴───┴─────────────┴────────────┴────────────┴────────────┘

### Zip

In [12]:
df.filter(pl.col("Zip").cast(pl.String).str.len_chars().le(4)).tail(1)

shape: (1, 29)
┌────────────┬────────────┬─────────┬───────┬───┬────────────┬────────────┬────────────┬───────────┐
│ LoanNr_Chk ┆ Name       ┆ City    ┆ State ┆ … ┆ GrAppv     ┆ SBA_Appv   ┆ needs_to_v ┆ verify_re │
│ Dgt        ┆ ---        ┆ ---     ┆ ---   ┆   ┆ ---        ┆ ---        ┆ erify      ┆ asons     │
│ ---        ┆ str        ┆ str     ┆ str   ┆   ┆ str        ┆ str        ┆ ---        ┆ ---       │
│ i64        ┆            ┆         ┆       ┆   ┆            ┆            ┆ bool       ┆ list[str] │
╞════════════╪════════════╪═════════╪═══════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ 9995213001 ┆ CITY CONST ┆ MARLTON ┆ NJ    ┆ … ┆ $150,000.0 ┆ $112,500.0 ┆ null       ┆ []        │
│            ┆ RUCTION    ┆         ┆       ┆   ┆ 0          ┆ 0          ┆            ┆           │
│            ┆ CORPORATIO ┆         ┆       ┆   ┆            ┆            ┆            ┆           │
│            ┆ N          ┆         ┆       ┆   ┆            ┆            ┆            ┆           │
└────────────┴────────────┴─────────┴───────┴───┴────────────┴────────────┴────────────┴───────────┘

In [13]:
df.filter(pl.col("Zip").cast(pl.String).str.len_chars().gt(5))

shape: (0, 29)
┌───────────────┬──────┬──────┬───────┬───┬────────┬──────────┬─────────────────┬────────────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ GrAppv ┆ SBA_Appv ┆ needs_to_verify ┆ verify_reasons │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---    ┆ ---      ┆ ---             ┆ ---            │
│ i64           ┆ str  ┆ str  ┆ str   ┆   ┆ str    ┆ str      ┆ bool            ┆ list[str]      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════╪══════════╪═════════════════╪════════════════╡
└───────────────┴──────┴──────┴───────┴───┴────────┴──────────┴─────────────────┴────────────────┘

- US's zip code has to consist of 5 digits
- There are some samples of zip codes in the dataset, ex: 6811, 2816 correctly refer to CT and RI state respectfully. These zip codes should be 06811 and 02816

In [14]:
df = df.cast({"Zip": pl.String})

In [15]:
df = df.with_columns(
    pl.when(pl.col("Zip").str.len_chars().eq(4))
    .then(pl.lit("0") + pl.col("Zip"))
    .otherwise("Zip")
    .alias("Zip")
)

df.filter(pl.col("Zip").str.starts_with("0")).tail(5)

shape: (5, 29)
┌────────────┬────────────┬────────────┬───────┬───┬───────────┬───────────┬───────────┬───────────┐
│ LoanNr_Chk ┆ Name       ┆ City       ┆ State ┆ … ┆ GrAppv    ┆ SBA_Appv  ┆ needs_to_ ┆ verify_re │
│ Dgt        ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---       ┆ ---       ┆ verify    ┆ asons     │
│ ---        ┆ str        ┆ str        ┆ str   ┆   ┆ str       ┆ str       ┆ ---       ┆ ---       │
│ i64        ┆            ┆            ┆       ┆   ┆           ┆           ┆ bool      ┆ list[str] │
╞════════════╪════════════╪════════════╪═══════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 9994033004 ┆ DOLLAR     ┆ SICKLERVIL ┆ NJ    ┆ … ┆ $100,000. ┆ $80,000.0 ┆ null      ┆ []        │
│            ┆ DAYS, INC. ┆ LE         ┆       ┆   ┆ 00        ┆ 0         ┆           ┆           │
│ 9994273006 ┆ ONE STOP   ┆ DANBURY    ┆ CT    ┆ … ┆ $100,000. ┆ $80,000.0 ┆ null      ┆ []        │
│            ┆ CLEANERS,  ┆            ┆       ┆   ┆ 00        ┆ 0         ┆           ┆           │
│            ┆ INC.       ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 9994303002 ┆ SUNTREE    ┆ DOVER      ┆ NH    ┆ … ┆ $45,000.0 ┆ $36,000.0 ┆ null      ┆ []        │
│            ┆ CORPORATIO ┆            ┆       ┆   ┆ 0         ┆ 0         ┆           ┆           │
│            ┆ N          ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 9994483010 ┆ PAWTUXET   ┆ COVENTRY   ┆ RI    ┆ … ┆ $750,000. ┆ $562,500. ┆ null      ┆ []        │
│            ┆ VALLEY PRE ┆            ┆       ┆   ┆ 00        ┆ 00        ┆           ┆           │
│            ┆ SCRIPTION  ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 9995213001 ┆ CITY CONST ┆ MARLTON    ┆ NJ    ┆ … ┆ $150,000. ┆ $112,500. ┆ null      ┆ []        │
│            ┆ RUCTION    ┆            ┆       ┆   ┆ 00        ┆ 00        ┆           ┆           │
│            ┆ CORPORATIO ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│            ┆ N          ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────┴───┴───────────┴───────────┴───────────┴───────────┘

In [16]:
zip_code_le_3_digits = df.filter(pl.col("Zip").cast(pl.String).str.len_chars().le(3))["Zip"].to_list()
len(zip_code_le_3_digits)

420

In [17]:
df = df.with_columns(
    pl.when(pl.col("Zip").is_in(zip_code_le_3_digits))
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("Zip").is_in(zip_code_le_3_digits))
        .then(
            pl.concat_list(
                pl.col("verify_reasons"),
                pl.lit("invalid_zip_code")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

In [18]:
zip_code_le_3_digits[40: 50]

['802', '0', '0', '0', '0', '0', '8', '0', '0', '0']

- There are zip codes with char length <= 3 digits. These zip codes are invalid
- I will change these zip codes into unknown

In [19]:
df = df.with_columns(
    pl.when(pl.col("Zip").is_in(zip_code_le_3_digits))
    .then(pl.lit("invalid"))
    .otherwise("Zip")
    .name.keep()
)

del zip_code_le_3_digits

### City

> This column describe borrower's origin city

- America has some cities that consist of 3 digit names, such as: rye, lee, jal
- I will inspect whether or not cities with 2 digit names or less exist

In [20]:
df.filter(pl.col("City").str.len_chars().le(2))['City']

shape: (86,)
Series: 'City' [str]
[
	"CT"
	"`"
	"B"
	"ES"
	"KC"
	…
	"NY"
	"CA"
	"AN"
	"S"
	"CA"
]

> There are 86 cities with only 1 to 2 digit characters

In [21]:
df.filter(pl.col("City").is_null()).shape

(30, 29)

> The dataset also has 30 missing values of city

In [22]:
df = df.with_columns(
    pl.when((pl.col("City").str.len_chars().le(2)) | (pl.col("City").is_null()))
        .then(pl.lit("invalid"))
        .otherwise("City")
        .name.keep(),
    pl.when((pl.col("City").str.len_chars().le(2)) | (pl.col("City").is_null()))
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when((pl.col("City").str.len_chars().le(2)) | (pl.col("City").is_null()))
        .then(
            pl.concat_list(
                pl.col("verify_reasons"),
                pl.lit("invalid city name")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

### Bank

- SBA needs bank name for several processes: loan disbursement, verify debtors' accounts
- Even in crisis years, this information still a mandatory

In [23]:
df.filter(pl.col("Bank").is_null()).shape

(1559, 29)

In [24]:
df = df.with_columns(
    pl.when(pl.col("Bank").is_null())
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("Bank").is_null())
        .then(
            pl.concat_list(
                pl.lit("missing bank name"),
                "verify_reasons"
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

- There are 1,559 rows with missing bank name

### Bank State

In [25]:
df.filter(pl.col("BankState").is_null()).shape

(1566, 29)

> There are 1,566 observations have missing value on bank state

In [26]:
df.filter(pl.col("BankState").is_null())["Bank"].unique()

shape: (5,)
Series: 'Bank' [str]
[
	null
	"KOREA EXCHANGE BANK"
	"STANDARD CHARTERED BK KOREA LT"
	"HONGKONG & SHANGHAI BK. CORP"
	"THE BANK OF EAST ASIA, LIMITED"
]

- SBA required that the bank should operate within the US
- These are non-american banks that operate in the US, but these banks have several branches within different state
- Thus, it's not possible to find the exact state of these banks

In [27]:
df = df.with_columns(
    pl.when(pl.col("BankState").is_null())
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("BankState").is_null())
        .then(
            pl.concat_list(
                "verify_reasons",
                pl.lit("missing bank state")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

### NAICS

- Used by statistical agencies and governments in the U.S., Canada, and Mexico
- These codes are crucial for collecting and analyzing data for administrative, regulatory, contracting, and taxation purposes
- It consists of six-digit number

In [28]:
df.filter(pl.col("NAICS").is_null())

shape: (0, 29)
┌───────────────┬──────┬──────┬───────┬───┬────────┬──────────┬─────────────────┬────────────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ GrAppv ┆ SBA_Appv ┆ needs_to_verify ┆ verify_reasons │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---    ┆ ---      ┆ ---             ┆ ---            │
│ i64           ┆ str  ┆ str  ┆ str   ┆   ┆ str    ┆ str      ┆ bool            ┆ list[str]      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════╪══════════╪═════════════════╪════════════════╡
└───────────────┴──────┴──────┴───────┴───┴────────┴──────────┴─────────────────┴────────────────┘

In [29]:
df.filter(pl.col("NAICS").cast(pl.String).str.len_chars().lt(6))["NAICS"].unique()

shape: (1,)
Series: 'NAICS' [i64]
[
	0
]

In [30]:
df.filter(pl.col("NAICS").eq(0)).shape

(201948, 29)

- There are 20,1948 rows contain invalid NAICS: 0

In [31]:
df = (
    df
        .cast({"NAICS": pl.String})
        .with_columns(
            pl.when(pl.col("NAICS").eq("0"))
                .then(pl.lit("invalid"))
                .otherwise("NAICS")
                .name.keep(),
            pl.when(pl.col("NAICS").eq("0"))
                .then(True)
                .otherwise("needs_to_verify")
                .alias("needs_to_verify"),
            pl.when(pl.col("NAICS").eq("0"))
                .then(
                    pl.concat_list(
                        "verify_reasons",
                        pl.lit("invalid NAICS")
                    )
                )
                .otherwise("verify_reasons")
        )
)

### Approval Date

- This column describes the date when each SBA was issued

In [32]:
df = df.with_columns(
    pl.col("ApprovalDate").str.to_date(format="%d-%b-%y")
    .name.keep()
)

In [33]:
df.filter(pl.col("ApprovalDate").is_null())

shape: (0, 29)
┌───────────────┬──────┬──────┬───────┬───┬────────┬──────────┬─────────────────┬────────────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ GrAppv ┆ SBA_Appv ┆ needs_to_verify ┆ verify_reasons │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---    ┆ ---      ┆ ---             ┆ ---            │
│ i64           ┆ str  ┆ str  ┆ str   ┆   ┆ str    ┆ str      ┆ bool            ┆ list[str]      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════╪══════════╪═════════════════╪════════════════╡
└───────────────┴──────┴──────┴───────┴───┴────────┴──────────┴─────────────────┴────────────────┘

### Approval FY

- fiscal year of approval issued

In [34]:
df.filter(pl.col("ApprovalFY").is_null()).shape

(18, 29)

In [35]:
df.filter(pl.col("ApprovalFY").is_null())["ApprovalDate"].dt.year().unique()

shape: (1,)
Series: 'ApprovalDate' [i32]
[
	1976
]

In [36]:
df.filter(pl.col("ApprovalFY").is_null())["ApprovalDate"].dt.month().unique()

shape: (3,)
Series: 'ApprovalDate' [i8]
[
	7
	8
	9
]

- There are 18 rows with missing value in ApprovalFY column
- All of these rows are loan issued in 1976

In [37]:
df.filter(
    pl.col("ApprovalDate").dt.year().eq(1976), 
    pl.col("ApprovalDate").dt.month().is_in([7, 8, 9])
)["ApprovalFY"].unique()

shape: (1,)
Series: 'ApprovalFY' [i64]
[
	null
]

- To fill these null values, I will inspect fiscal year of months 7, 8, and 9 in 1975 and 1977

In [38]:
display(df.filter(
    pl.col("ApprovalDate").dt.year().eq(1975), 
    pl.col("ApprovalDate").dt.month().is_in([7, 8, 9])
)["ApprovalFY"].unique())

display(df.filter(
    pl.col("ApprovalDate").dt.year().eq(1977), 
    pl.col("ApprovalDate").dt.month().is_in([7, 8, 9])
)["ApprovalFY"].unique())

shape: (1,)
Series: 'ApprovalFY' [i64]
[
	1976
]

shape: (1,)
Series: 'ApprovalFY' [i64]
[
	1977
]

In [39]:
display(df.filter(
    pl.col("ApprovalDate").dt.year().eq(1975), 
    pl.col("ApprovalDate").dt.month().is_in([10, 11, 12])
)["ApprovalFY"].unique())

display(df.filter(
    pl.col("ApprovalDate").dt.year().eq(1977), 
    pl.col("ApprovalDate").dt.month().is_in([10, 11, 12])
)["ApprovalFY"].unique())

shape: (1,)
Series: 'ApprovalFY' [i64]
[
	1976
]

shape: (1,)
Series: 'ApprovalFY' [i64]
[
	1978
]

- Turns out the inspections tell the same story
- On months 7, 8, and 9 the fiscal year same as the approval year
> Ex: FY76 is Oct, 1975 until Sep, 1976

In [40]:
df.columns

['LoanNr_ChkDgt',
 'Name',
 'City',
 'State',
 'Zip',
 'Bank',
 'BankState',
 'NAICS',
 'ApprovalDate',
 'ApprovalFY',
 'Term',
 'NoEmp',
 'NewExist',
 'CreateJob',
 'RetainedJob',
 'FranchiseCode',
 'UrbanRural',
 'RevLineCr',
 'LowDoc',
 'ChgOffDate',
 'DisbursementDate',
 'DisbursementGross',
 'BalanceGross',
 'MIS_Status',
 'ChgOffPrinGr',
 'GrAppv',
 'SBA_Appv',
 'needs_to_verify',
 'verify_reasons']

In [41]:
df = df.with_columns(
    pl.when(pl.col("ApprovalFY").is_null())
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("ApprovalFY").is_null())
        .then(
            pl.concat_list(
                "verify_reasons",
                pl.lit("missing value on fiscal year")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons"),
    pl.when(pl.col("ApprovalFY").is_null())
        .then(pl.col("ApprovalDate").dt.year())
        .otherwise("ApprovalFY")
        .alias("ApprovalFY")
)

### Term

- tenor in month

In [42]:
df.filter(pl.col("Term").is_null())

shape: (0, 29)
┌───────────────┬──────┬──────┬───────┬───┬────────┬──────────┬─────────────────┬────────────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ GrAppv ┆ SBA_Appv ┆ needs_to_verify ┆ verify_reasons │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---    ┆ ---      ┆ ---             ┆ ---            │
│ i64           ┆ str  ┆ str  ┆ str   ┆   ┆ str    ┆ str      ┆ bool            ┆ list[str]      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════╪══════════╪═════════════════╪════════════════╡
└───────────────┴──────┴──────┴───────┴───┴────────┴──────────┴─────────────────┴────────────────┘

In [43]:
df.filter(pl.col("Term").eq(0)).shape

(810, 29)

> There are 810 unique loans have 0 month term, which absurb

In [44]:
df = df.with_columns(
    pl.when(pl.col("Term").eq(0))
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("Term").eq(0))
        .then(
            pl.concat_list(
                "verify_reasons",
                pl.lit("has 0 term")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

### No Emp

- Borrower's employee count
- Business with no employee may get SBA loan

In [45]:
df.filter(pl.col("NoEmp").eq(0)).shape

(6631, 29)

In [46]:
df.filter(pl.col("NoEmp").is_null()).shape

(0, 29)

### NewExist

- This column tells wether the borrower (bussiness) is new or an existing business
- New businesses must provide a business plan, financial projections, and possibly personal financial statements
- Existing businesses must provide tax returns, financial statements

In [47]:
df.filter(pl.col("NewExist").is_null())

shape: (136, 29)
┌────────────┬────────────┬────────────┬───────┬───┬───────────┬───────────┬───────────┬───────────┐
│ LoanNr_Chk ┆ Name       ┆ City       ┆ State ┆ … ┆ GrAppv    ┆ SBA_Appv  ┆ needs_to_ ┆ verify_re │
│ Dgt        ┆ ---        ┆ ---        ┆ ---   ┆   ┆ ---       ┆ ---       ┆ verify    ┆ asons     │
│ ---        ┆ str        ┆ str        ┆ str   ┆   ┆ str       ┆ str       ┆ ---       ┆ ---       │
│ i64        ┆            ┆            ┆       ┆   ┆           ┆           ┆ bool      ┆ list[str] │
╞════════════╪════════════╪════════════╪═══════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 3808405000 ┆ J.W.Chippi ┆ BETHLEHEM  ┆ NH    ┆ … ┆ $117,000. ┆ $99,450.0 ┆ null      ┆ []        │
│            ┆ ng Corp    ┆            ┆       ┆   ┆ 00        ┆ 0         ┆           ┆           │
│ 3854945010 ┆ D & R      ┆ INDIANOLA  ┆ MS    ┆ … ┆ $150,000. ┆ $135,000. ┆ null      ┆ []        │
│            ┆ Foods Inc. ┆            ┆       ┆   ┆ 00        ┆ 00        ┆           ┆           │
│ 3856405005 ┆ Luna       ┆ LYNNFIELD  ┆ MA    ┆ … ┆ $25,000.0 ┆ $25,000.0 ┆ null      ┆ []        │
│            ┆ Design     ┆            ┆       ┆   ┆ 0         ┆ 0         ┆           ┆           │
│            ┆ Group,     ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│            ┆ Inc.       ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 3857955008 ┆ Lisbon     ┆ LISBON     ┆ OH    ┆ … ┆ $350,000. ┆ $175,000. ┆ null      ┆ []        │
│            ┆ Market Inc ┆            ┆       ┆   ┆ 00        ┆ 00        ┆           ┆           │
│ 3858915009 ┆ George F.  ┆ QUINCY     ┆ MA    ┆ … ┆ $50,000.0 ┆ $25,000.0 ┆ null      ┆ []        │
│            ┆ Gales, Jr. ┆            ┆       ┆   ┆ 0         ┆ 0         ┆           ┆           │
│            ┆ MD         ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ …          ┆ …          ┆ …          ┆ …     ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 4540125002 ┆ GG&M, LLC  ┆ GENESEE    ┆ ID    ┆ … ┆ $15,000.0 ┆ $7,500.00 ┆ true      ┆ ["has 0   │
│            ┆            ┆            ┆       ┆   ┆ 0         ┆           ┆           ┆ term"]    │
│ 4553585010 ┆ MORGAN     ┆ COLLINS    ┆ MS    ┆ … ┆ $20,500.0 ┆ $17,425.0 ┆ null      ┆ []        │
│            ┆ VENTURES,  ┆            ┆       ┆   ┆ 0         ┆ 0         ┆           ┆           │
│            ┆ INC        ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 4820745005 ┆ Goodcare   ┆ DELL       ┆ SD    ┆ … ┆ $100,000. ┆ $50,000.0 ┆ null      ┆ []        │
│            ┆ LLC        ┆ RAPIDS     ┆       ┆   ┆ 00        ┆ 0         ┆           ┆           │
│ 4957935004 ┆ 912 Enterp ┆ CRANBERRY  ┆ PA    ┆ … ┆ $43,000.0 ┆ $21,500.0 ┆ null      ┆ []        │
│            ┆ rises Fran ┆ TWP        ┆       ┆   ┆ 0         ┆ 0         ┆           ┆           │
│            ┆ chising, I ┆            ┆       ┆   ┆           ┆           ┆           ┆           │
│ 6080335003 ┆ Michael    ┆ Hattievill ┆ AR    ┆ … ┆ $50,700.0 ┆ $25,350.0 ┆ null      ┆ []        │
│            ┆ McNabb     ┆ e          ┆       ┆   ┆ 0         ┆ 0         ┆           ┆           │
└────────────┴────────────┴────────────┴───────┴───┴───────────┴───────────┴───────────┴───────────┘

> There's a loan applied without information whether the bussiness new or already exist

In [48]:
df = df.with_columns(
    pl.when(pl.col("LoanNr_ChkDgt").eq(4540125002))
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("LoanNr_ChkDgt").eq(4540125002))
        .then(
            pl.concat_list(
                "verify_reasons",
                pl.lit("no information of new/exist business")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

### Create Job

- Number of job created if the loan approved
- It's possible the loan to be approved even if no new jobs are created

In [49]:
df.filter(pl.col("CreateJob").is_null()).shape

(0, 29)

In [50]:
df.filter(pl.col("CreateJob").eq(0)).shape

(629248, 29)

> There are 511 loans approved with 0 new jobs created

### Retained Job

- Number of jobs will be retained if the loan is approved
- Same as create job, it also possible the loan to be approved even if no jobs are retained

In [51]:
df.filter(pl.col("RetainedJob").is_null()).shape

(0, 29)

In [52]:
df.filter(pl.col("RetainedJob").eq(0)).shape

(440403, 29)

### FranchiseCode

- A flag column to identify wheter or not the business is a franchise
- franchisecode 0 or 1 = no franchise

In [53]:
df = df.cast({"FranchiseCode": pl.String})

In [54]:
df.filter(pl.col("FranchiseCode").is_null())

shape: (0, 29)
┌───────────────┬──────┬──────┬───────┬───┬────────┬──────────┬─────────────────┬────────────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ GrAppv ┆ SBA_Appv ┆ needs_to_verify ┆ verify_reasons │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---    ┆ ---      ┆ ---             ┆ ---            │
│ i64           ┆ str  ┆ str  ┆ str   ┆   ┆ str    ┆ str      ┆ bool            ┆ list[str]      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════╪══════════╪═════════════════╪════════════════╡
└───────────────┴──────┴──────┴───────┴───┴────────┴──────────┴─────────────────┴────────────────┘

In [55]:
df = df.cast({"FranchiseCode": pl.String})
df = df.with_columns(
    pl.when(pl.col("FranchiseCode").is_in(["0", "1"]))
        .then(pl.lit("no franchise"))
        .otherwise("FranchiseCode")
        .alias("FranchiseCode")
)

### UrbanRural

> Whether the business is in urban or rural area

- 1: urban
- 2: rural
- 0: undefined

In [56]:
df.filter(pl.col("UrbanRural").is_null())

shape: (0, 29)
┌───────────────┬──────┬──────┬───────┬───┬────────┬──────────┬─────────────────┬────────────────┐
│ LoanNr_ChkDgt ┆ Name ┆ City ┆ State ┆ … ┆ GrAppv ┆ SBA_Appv ┆ needs_to_verify ┆ verify_reasons │
│ ---           ┆ ---  ┆ ---  ┆ ---   ┆   ┆ ---    ┆ ---      ┆ ---             ┆ ---            │
│ i64           ┆ str  ┆ str  ┆ str   ┆   ┆ str    ┆ str      ┆ bool            ┆ list[str]      │
╞═══════════════╪══════╪══════╪═══════╪═══╪════════╪══════════╪═════════════════╪════════════════╡
└───────────────┴──────┴──────┴───────┴───┴────────┴──────────┴─────────────────┴────────────────┘

In [57]:
df.filter(~pl.col("UrbanRural").is_in([1, 2])).shape

(323167, 29)

- There are 157 loans applied without urban/rural information

In [58]:
df = df.cast({"UrbanRural": pl.String})
df = df.with_columns(
    pl.col("UrbanRural").replace({"1": "urban", "2": "rural", "0": "undefined"})
    .alias("UrbanRural")
)

In [59]:
df = df.with_columns(
    pl.when(pl.col("UrbanRural").eq("undefined"))
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("UrbanRural").eq("undefined"))
        .then(
            pl.concat_list(
                "verify_reasons",
                pl.lit("undefined urban/rural")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons"),
)

### RevLineCr

In [60]:
invalid_revline = (pl.col("RevLineCr").is_in(["T", "0"])) | (pl.col("RevLineCr").is_null())

In [61]:
df = df.with_columns(
    pl.when(invalid_revline)
        .then(pl.lit("invalid"))
        .otherwise("RevLineCr")
        .alias("RevLineCr"),
    pl.when(invalid_revline)
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(invalid_revline)
        .then(pl.concat_list(
            "verify_reasons",
            pl.lit("invalid RevLineCr")
        ))
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

In [62]:
del invalid_revline

### Low Doc

In [63]:
invalid_lowdoc = (pl.col("LowDoc").is_null()) | (pl.col("LowDoc").eq("C"))

In [64]:
df = df.with_columns(
    pl.when(invalid_lowdoc)
        .then(pl.lit("invalid"))
        .otherwise("LowDoc")
        .alias("LowDoc"),
    pl.when(invalid_lowdoc)
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(invalid_lowdoc)
        .then(
            pl.concat_list(
                "verify_reasons",
                pl.lit("invalid LowDoc")
            )
        )
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)

In [65]:
del invalid_lowdoc

### ChgOffDate

Informs when each loan declared to be default

In [66]:
df = df.with_columns(
    pl.col("ChgOffDate").str.to_date(format="%d-%b-%y")
    .alias("ChgOffDate")
)

### DisbursementDate

In [67]:
df = df.with_columns(
    pl.col("DisbursementDate").str.to_date(format="%d-%b-%y")
    .alias("DisbursementDate")
)

### DisbursementGross

In [68]:
df = df.with_columns(
    pl.col("DisbursementGross")
    .str.replace_many(["$", " ", ","], [""])
    .cast(pl.Float64)
    .alias("DisbursementGross")
)

### BalanceGross

In [69]:
df = df.with_columns(
    pl.col("BalanceGross")
    .str.replace_many(["$", " ", ","], [""])
    .cast(pl.Float64)
    .alias("BalanceGross")
)

### ChgOffPrinGr

> charged-off amount

In [70]:
df = df.with_columns(
    pl.col("ChgOffPrinGr").str.replace_many([" ", "$", ","], [""])
    .cast(pl.Float64)
    .name.keep()
)

### GrAppv

> Gross amount of loan approved by bank

In [71]:
df = df.with_columns(
    pl.col("GrAppv").str.replace_many([" ", "$", ","], [""])
    .cast(pl.Float64)
    .name.keep()
)

### SBA_Appv

> SBA’s Guaranteed Amount of Approved Loan

In [72]:
df = df.with_columns(
    pl.col("SBA_Appv").str.replace_many([" ", "$", ","], [""])
    .cast(pl.Float64)
    .name.keep()
)

### MIS_Status

- PIF = Paid in full
- CHGOFF = charged off -> the loan declared as loss, but debtor still has the obligation to repay it (not forgiven)

In [73]:
df = df.with_columns(
    pl.col("MIS_Status").replace("P I F", "PIF")
)

In [74]:
df = df.with_columns(
    pl.when(pl.col("MIS_Status").is_null())
        .then(True)
        .otherwise("needs_to_verify")
        .alias("needs_to_verify"),
    pl.when(pl.col("MIS_Status").is_null())
        .then(pl.concat_list(
            [
                "verify_reasons",
                pl.lit("missing MIS_Status")
            ]
        ))
        .otherwise("verify_reasons")
        .alias("verify_reasons")
)